{% block body %}
<link href="https://authorizer.io/themes/demo/assets/css/authorizer.css" rel="stylesheet">
<div class="container">
<h1>My Apps</h1>
    <br>

{% for client in clients %}
        <div class="panel panel-auth">
            <div class="panel-heading">
                <h3 class="panel-title">{{ client.name }}</h3>
            </div>
            <div class="panel-body">
                <ul class="nod">
                    <li><strong>Client Id:</strong> {{ client.clientId }}</li>
                    <li><strong>Secret:</strong> {{ client.secret }}</li>
                    <li><strong>URIs:</strong>
                        <ul style="padding: 0; margin: 0;">
                        {% for uri in client.redirectUris %}
                            <li>{{ uri }}</li>
                        {% endfor %}
                    </ul>
                    </li>
                </ul>
            </div>
            <div class="panel-footer"><a href="{{ path('client_edit', { 'id': client.id }) }}"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> edit</a></div>
        </div>
{% endfor %}
        <br>
        <a class="btn btn-auth" href="{{ path('client_new') }}">Create a new App</a>
</div>
<br><br><br>
{% endblock %}
